@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background: -webkit-linear-gradient(#a3e635, #65a30d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.events-mask {
    -webkit-mask-image: url('../assets/images/icons/frame3.png');
    mask-image: url('../assets/images/icons/frame3.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}