@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xzu9oo');
  src:  url('fonts/icomoon.eot?xzu9oo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xzu9oo') format('truetype'),
    url('fonts/icomoon.woff?xzu9oo') format('woff'),
    url('fonts/icomoon.svg?xzu9oo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tour:before {
  content: "\e900";
}
.icon-events:before {
  content: "\e901";
}
.icon-camp:before {
  content: "\e902";
}
.icon-ride:before {
  content: "\e903";
}
.icon-adventure:before {
  content: "\e904";
}
.icon-rental:before {
  content: "\e905";
}
